*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}



/* FOOTER */
.footer-description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  margin-right: 10px;
  color: #555;
  font-weight: bold;
}

.icon {
  font-size: 28px;
  color: #3498db;
  margin: 4px;
}

.icon:hover {
  transform: scale(1.2);
  transition: all 
}