*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f4f4f4, #cbcbcb);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 85vh;
  position: relative
}

.text__div {
  text-align: center;
  margin-left: 24px;
  z-index: 10;
}

.heading__primary {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.heading__primary span {
  color: #3498db;
}

.text__paragraph {
  color: #777;
  margin-bottom: 30px;
}

.button__new__book {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button__new__book:hover {
  background-color: #2980b9;
}

.list__div {
  position: absolute;
  bottom: 0;
  width: 800px;
  height: 350px;
  padding-top: 60px;
}

.ul__list {
  display: flex;
  list-style-type: none;
  width: 100%;
 
}
/* FORM */
.formado {
  position: absolute;
  right: -500px;
  top: 125px; 
  width: 450px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all .5s ease-in-out
}
.show{
  position: absolute;
  right: 50px;
  transition: all .5s ease-in-out
}
.up{
 transform: translate(58.5%, -102.5%);
 transition: all .2s ease-in-out
}

.form__box {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}
#submit{
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}
.check__label {
  font-size: 1rem;
  color: #333;
  margin-left: 5px;
}

.close__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #333;
}

/* FOOTER */
.footer-description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  margin-right: 10px;
  color: #555;
  font-weight: bold;
}

.icon {
  font-size: 28px;
  color: #3498db;
  margin: 4px;
}

.icon:hover {
  transform: scale(1.2);
  transition: all 
}
/* for book position */
.book{
  width: 225px;
  height: 260px;
  margin: 20px;
 background-color: #b5d5e9;
 border: 2px solid white;
 padding: 8px;
}

.title,
.author,
.numOfPages {
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btns button {
  padding: 8px 9px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.btns button:nth-child(1) {
  background-color: #3498db;
  color: #fff;
}

.btns button:nth-child(2) {
  background-color: #e74c3c;
  color: #fff;
}

.btns button:nth-child(3) {
  background-color: #2ecc71;
  color: #fff;
}